<div [class.h-screen]="scrollY() < scrollOffset"
     [style.margin-bottom]="scrollOffset + 'px'"
></div>

<div [style.padding]="bannerPadding()"
     [class.fixed]="scrollY() < scrollOffset"
     class="h-screen inset-0 h-full w-full z-2">
  <div [style.border-radius]="bannerRadius()"
       class="h-full w-full overflow-hidden">
    <img [src]="bannerUrlSmall"
         [imgSrc]="bannerUrl"
         class="object-cover object-center w-full h-full"
         alt=""
         fetchpriority="high"
         draggable="false">
  </div>
  <h1 [style.opacity]="bannerTitleOpacity()"
      class="absolute top-[50%] left-0 w-full text-center text-4xl text-white tracking-wider font-bold underline">
    AZ PHOTOGRAPHY
  </h1>
</div>

<div class="flex flex-wrap px-4">
  @for (image of recentImages(); track image.publicId) {
    <div class="md:w-6/12 p-3">
      <app-recent-image-card class="block rounded-xl overflow-hidden" [image]="image"></app-recent-image-card>
    </div>
  }
</div>

<!--&lt;!&ndash; This image is above the fold&ndash;&gt;-->
<!--<picture class="lazy">-->
<!--  <source srcset="/Assets/Images/1920.png" media="(min-width:1600px)" width="1920" height="1080">-->
<!--  <source srcset="/Assets/Images/1280.png" media="(min-width:1000.5px)" width="1280" height="720">-->
<!--  <img src="/Assets/Images/640.png" width="640" height="360" alt="" fetchpriority="high" draggable="false">-->
<!--</picture>-->
<!--&lt;!&ndash; This image is below the fold&ndash;&gt;-->
<!--<picture class="lazy">-->
<!--  <source srcset="/Assets/Images/1920.png" media="(min-width:1600px)" width="1920" height="1080">-->
<!--  <source srcset="/Assets/Images/1280.png" media="(min-width:1000.5px)" width="1280" height="720">-->
<!--  <img src="/Assets/Images/640.png" width="640" height="360" alt="" loading="lazy" decoding="async" draggable="false">-->
<!--</picture>-->

