<div [class.h-screen]="scrollY() < scrollOffset"
     [style.margin-bottom]="scrollOffset + 'px'"
></div>

<div [style.padding]="bannerPadding()"
     [class.fixed]="scrollY() < scrollOffset"
     class="h-screen inset-0 h-full w-full z-2">
  <div [style.border-radius]="bannerRadius()"
       class="h-full w-full overflow-hidden">
    <img [src]="bannerUrlSmall"
         [imgSrc]="bannerUrl"
         class="object-cover object-center w-full h-full"
         alt=""
         fetchpriority="high"
         draggable="false">
  </div>
  <h1 [style.opacity]="bannerTitleOpacity()"
      class="absolute top-[50%] left-0 w-full text-center text-4xl text-white tracking-wider font-bold underline">
    AZ PHOTOGRAPHY
  </h1>
</div>

<div class="flex px-4 relative">
  @for (imageGroup of recentImages(); track $index) {
    <div class="px-3">
      @for (image of imageGroup; track image.publicId) {
        <app-recent-image-card [image]="image" class="mb-6"></app-recent-image-card>
      }
    </div>
  }
  <div class="absolute left-0 right-0 bottom-0 h-34 bg-linear-to-t from-black from-60% "></div>
</div>
