<div [class.h-screen]="scrollY() < scrollOffset"
     [style.margin-bottom]="scrollOffset + 'px'"
></div>

<div [style.padding]="bannerPadding()"
     [class.fixed]="scrollY() < scrollOffset"
     class="h-screen h-full inset-0 h-full w-full z-2">
  <div [style.border-radius]="bannerRadius()"
       class="h-full w-full overflow-hidden">
    <img [src]="bannerUrlSmall"
         [imgSrc]="bannerUrl"
         class="object-cover object-center w-full h-full"
         alt=""
         fetchpriority="high"
         draggable="false">
  </div>
  <h1 [style.opacity]="bannerTitleOpacity()"
      class="absolute top-[50%] left-0 w-full text-center text-4xl text-white tracking-wider font-bold underline">
    AZ PHOTOGRAPHY
  </h1>
</div>

<div class="flex px-4 relative">
  @for (imageGroup of recentImages(); track $index) {
    <div class="px-3">
      @for (image of imageGroup; track image.publicId) {
        <app-recent-image-card [image]="image" class="mb-6"></app-recent-image-card>
      }
    </div>
  }
</div>

<section [style.background-image]="'url(' + aboutBgUrlSmall + ')'"
         [style.background-position]="'50% '+ aboutBgYOffset()"
         class="pb-20 pt-30 bg-fixed bg-cover relative">
  <div class="absolute left-0 right-0 top-0 h-20 bg-linear-to-b from-black"></div>
  <div class="md:flex max-md:text-center items-start bg-black rounded-2xl max-w-4xl w-[80vw] mx-auto p-10">
    <img [src]="aboutImgUrlSmall" alt="" class="rounded-xl w-8/12 md:w-4/12 inline-block max-md:mb-8">
      @for(langKey of supportedLanguages; track langKey) {
        <p [innerHTML]="aboutText[langKey]"
           [lang]="langKey"
           [class.hidden]="langKey !== selectedLanguage()"
           class="text-white text-justify text-base/7 md:ml-8"></p>
      }
  </div>
<!--  TODO: update links-->
<!--  &lt;!&ndash; SEO hints for search engines &ndash;&gt;-->
<!--  <link rel="alternate" hreflang="uk" href="https://twoj-sajt.pl/ua/about" />-->
<!--  <link rel="alternate" hreflang="en" href="https://twoj-sajt.pl/en/about" />-->
<!--  <link rel="alternate" hreflang="pl" href="https://twoj-sajt.pl/pl/about" />-->
</section>



