<div class="relative group"
        (click)="toggleOverlay()"
        (mouseenter)="isActive.set(true)"
        (mouseleave)="isActive.set(false)"
>
  <img [src]="image().urlSmall"
       class="block w-full"
       alt="{{ image().categories[0] }} photography example">

  <div
    [ngClass]="isActive() ? 'visible opacity-100' : ''"
    class="absolute inset-0 flex flex-col invisible bg-black/80 opacity-0 justify-center items-center text-blue-500">
    <button class="cursor-pointer hover:opacity-70"
            (click)="showInLightBox.emit()">
      <svg class="size-10" x="0px" y="0px" viewBox="0 0 512 512" fill="currentColor">
        <path d="M93.1,139.6l46.5-46.5L93.1,46.5L139.6,0H0v139.6l46.5-46.5L93.1,139.6z M93.1,372.4l-46.5,46.5L0,372.4V512h139.6
	l-46.5-46.5l46.5-46.5L93.1,372.4z M372.4,139.6H139.6v232.7h232.7V139.6z M325.8,325.8H186.2V186.2h139.6V325.8z M372.4,0
	l46.5,46.5l-46.5,46.5l46.5,46.5l46.5-46.5l46.5,46.5V0H372.4z M418.9,372.4l-46.5,46.5l46.5,46.5L372.4,512H512V372.4l-46.5,46.5
	L418.9,372.4z"/>
      </svg>
    </button>
    <!--    TODO: enable after category page implementation-->
    <!--    <div class="p-4">-->
    <!--      @for (category of image().categories; track category) {-->
    <!--        <button class="hover:underline cursor-pointer"-->
    <!--                (click)="navigateToCategory.emit(category)">#{{ category }}-->
    <!--        </button>-->
    <!--      }-->
    <!--    </div>-->
  </div>
</div>
